body{
    width: 50%;
    margin: auto;
    background-color: #0077b6;
}
.perfil{
    margin: auto;
    margin-top: 10px;
    background-color: #ade8f4 ;
    padding:100px;
}
.title{
    margin-top: auto;
    display:flex ;
    justify-content: center;
} 
.image{
    display: flex;
    justify-content:center;
    border-radius: 50px;
}

img{
    border-radius: 90px;
    height: 150px;
    width: 150px;
}
.menu-nav ul{
    list-style-type: none;
}
.name{
    display: flex;
    justify-content: center;
}